/* Default styles */
.container {
    // display: flex;
    // justify-content: space-between;
    margin: 10px 0;
  }
  
  .wrapper {
    display: flex;
    align-content: center;
    // border: 1.5px solid;
    width: 280px;
    height: 45px;
  }
  button#reload-button {
    font-size: 14px;
    width: 60px;
    background-color: crimson;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 0.4em;
    color: #ffffff;
    margin-top: 10px;
  }
  
  button#reload-button:hover {
    background-color: rgb(46, 153, 46);
}

input[type='text'] {
    font-family: 'Roboto Mono', monospace;
    // font-size: 1rem;
    // width: 100%;
    padding: 10px;
    border: 2px solid crimson;
    border-radius: 20px;
}

button#submit-button {
    width: 100%;
    color: #ffffff;
    font-size: 1.5em;
    border: none;
    margin-top: 1em;
    padding: 0.8em 0;
    border-radius: 0.4em;
    background-color: green;
    cursor: pointer;
  }
  
  button#submit-button:hover {
    background-color: rgb(53, 175, 53);
}